.marker-cluster {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  padding: 2px;
  border: 1px solid rgb(61, 43, 79);
  border-radius: 50%;
  color: rgb(45, 10, 160);
  font-weight: bold;
}
