.popup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  height: 2px;
  padding: 1px;
  background-color: rgb(171, 172, 174);
}
